{{#each files}}
<tr>
	<td>
		{{#if existed_client}}
		<a href="/client/{{client_id}}">{{company_name}}</a>
		{{else}}
		{{company_name}}
		{{/if}}
	</td>
	<td>
		{{#if existed_client}}
		<span class="text-success">是</span>
		{{else}}
		<span class="text-danger">否</span>
		{{/if}}
	</td>
	<td>
		{{#compare is_hightech 'Y'}}
			<span class="text-success">是</span>
			{{#if hightech_cert_code}}
				<br />
				<span class="small text-muted">高新证书：{{hightech_cert_code.H}}</span>
			{{/if}}
			{{#if soft_comp_cert_code}}
				<br />
				<span class="small text-muted">软企证书：{{soft_comp_cert_code.S}}</span>
			{{/if}}
		{{/compare}}
		{{#compare is_hightech 'N'}}
		<span class="text-danger">否</span>
		{{/compare}}
	</td>
	<td>
	balabala
	</td>
</tr>
{{/each}}